@using gcCoffeeShop.Controllers
@model  gcCoffeeShop.Models.User
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="@Url.Action(nameof(HomeController.Register))" method="post">

    <div>
        @Html.LabelFor(m => m.Title, "Choose your title:") 
        <br />
        <select title="Title Select" name="@Html.NameFor(m => m.Title)">
            <option value="">Please choose an option </option>
            <option value="Mr.">Mr.</option>
            <option value="Miss">Miss</option>
            <option value="Mrs.">Mrs.</option>
            <option value="Ms.">Ms.</option>
            <option value="Mx.">Mx.</option>
            <option value="Master">Master</option>
            <option value="Madam">Madam</option>
            <option value="Hon.">Hon.</option>
            <option value="Dr.">Dr.</option>
        </select>
    </div>

    @Html.LabelFor(m => m.FirstName) (Required)
    <div>
        @Html.EditorFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    @Html.LabelFor(m => m.MiddleInitial)
    <div>
        @Html.EditorFor(m => m.MiddleInitial)
        @Html.ValidationMessageFor(m => m.MiddleInitial)
    </div>

    @Html.LabelFor(m => m.LastName) (Required)
    <div>
        @Html.EditorFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    @Html.LabelFor(m => m.Suffix)
    <div>
        @Html.EditorFor(m => m.Suffix)
        @Html.ValidationMessageFor(m => m.Suffix)
    </div>

    @Html.LabelFor(m => m.Email) (Required)
    <div>
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    @Html.LabelFor(m => m.Phone) (Required)
    <div>
        @Html.EditorFor(m => m.Phone)
        @Html.ValidationMessageFor(m => m.Phone)
    </div>

    @Html.LabelFor(m => m.DateOfBirth) (Required)
    <div>
        @Html.EditorFor(m => m.DateOfBirth)
        @Html.ValidationMessageFor(m => m.DateOfBirth)
    </div>


    @Html.LabelFor(m => m.Username) (Required)
    <div>
        @Html.EditorFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    @Html.LabelFor(m => m.Password) (Required)
    <div>
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    @Html.LabelFor(m => m.ConfirmPassword)
    <div>
        @Html.EditorFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <div>
        @Html.LabelFor(m=> m.FavoriteCoffee, "Favorite Coffee") (Required)
        <br />
        <select name="@Html.NameFor(m => m.FavoriteCoffee)">
            <option value="You didn't change this so your favorite is Tea and I hate you">Tell me your Favorite Coffee...please</option>
            <option value="Shot of espresso and a punch in the mouth">Shot of espresso and a punch in the mouth</option>
            <option value="Latte w/ Bourbon">Latte w/ Bourbon</option>
            <option value="Vodkoffee!">Vodkoffee! </option>
            <option value="Sextuple espresso (wink wink)">Sextuple espresso (wink wink)</option>
            <option value="“Screw you, bladder” – 60 oz. coffee">“Screw you, bladder” – 60 oz. coffee</option>
            <option value="We stab you so you can call in sick ">We stab you so you can call in sick</option>
            <option value=".coffee {class:organic, variety:ethiopian, flavor: #hazelnut;}">.coffee {class:organic, variety:ethiopian, flavor: #hazelnut;}</option>
            <option value="Latte of DOOM">Latte of DOOM</option>
            <option value="Triple brownie espresso">Triple brownie espresso</option>
            <option value="Triple espresso brownie">Triple espresso brownie</option>
        </select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit &raquo;</button>

</form>

