@using gcCoffeeShop.Controllers
@model  gcCoffeeShop.Models.User
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="@Url.Action(nameof(HomeController.Register))" method="post">

    <div>
        <label for="Title">Choose your title:</label>
        <br />
        <select title="Title Select">
            <option value="">Please choose an option </option>
            <option value="Mr.">Mr.</option>
            <option value="Miss">Miss</option>
            <option value="Mrs.">Mrs.</option>
            <option value="Ms.">Ms.</option>
            <option value="Mx.">Mx.</option>
            <option value="Master">Master</option>
            <option value="Madam">Madam</option>
            <option value="Hon.">Hon.</option>
            <option value="Dr.">Dr.</option>
        </select>

    </div>

    @Html.LabelFor(m => m.FirstName) (Required)
    <div>
        @Html.EditorFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>

    @Html.LabelFor(m => m.MiddleInitial)
    <div>
        @Html.EditorFor(m => m.MiddleInitial)
        @Html.ValidationMessageFor(m => m.MiddleInitial)
    </div>

    @Html.LabelFor(m => m.LastName) (Required)
    <div>
        @Html.EditorFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    @Html.LabelFor(m => m.Suffix)
    <div>
        @Html.EditorFor(m => m.Suffix)
        @Html.ValidationMessageFor(m => m.Suffix)
    </div>

    @Html.LabelFor(m => m.Email) (Required)
    <div>
        @Html.EditorFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    @Html.LabelFor(m => m.Phone) (Required)
    <div>
        @Html.EditorFor(m => m.Phone)
        @Html.ValidationMessageFor(m => m.Phone)
    </div>

    @Html.LabelFor(m => m.DateOfBirth) (Required)
    <div>
        @Html.EditorFor(m => m.DateOfBirth)
        @Html.ValidationMessageFor(m => m.DateOfBirth)
    </div>

    @Html.LabelFor(m => m.Username) (Required)
    <div>
        @Html.EditorFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    @Html.LabelFor(m => m.Password) (Required)
    <div>
        @Html.EditorFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    @Html.LabelFor(m => m.ConfirmPassword)
    <div>
        @Html.EditorFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit &raquo;</button>

</form>

